html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: black;
}

main {
  container-type: size;
  max-height: 100%;
  margin: auto;
  aspect-ratio: 7 / 9;
/*   outline: 1px solid white; */
/*   background-image: url("background.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
.map {
  width: 100%;
  height: 100%;
  position: absolute;
}
.pac {
  width: calc(50cqh / 9);
  height: calc(50cqh / 9);
  position: absolute;
  animation-name: pac-move;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.pac > svg {
  width: 100%;
  height: 100%;
}
.pac > svg > path {
  fill: yellow;
}
.pac > svg > path {
  animation: pac 0.07s alternate infinite linear;
}
@keyframes pac {
  from {
    d: path('M-0.000330448 99C-0.000330448 49 49.9997 -5.17408e-06 99.9997 -5.17408e-06C150 -5.17408e-06 200 49 200 98.9L65.9997 99L200 99.1C200 149 150 200 99.9997 200C49.9997 200 -0.000330448 149 -0.000330448 99Z');
  }
  to {
    d: path('M-0.000327073 99C-0.000327073 49 49.9997 -5.17408e-06 99.9997 -5.17408e-06C150 -5.17408e-06 127.466 17.5 133.5 9.5L65.9997 99L133.5 190.5C127.5 182.367 150 200 99.9997 200C49.9997 200 -0.000327073 149 -0.000327073 99Z');
  }
}

.pellet {
  width: calc(25cqh / 9);
  height: calc(25cqh / 9);
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
}
.pellet > div {
  width: 25%;
  height: 25%;
  background-color: #FFB8AE;
}
.power.pellet > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.pac {
  /*  pac-person starting position  */
  transform: translate(calc(2600cqw / 56), calc(5100cqh / 72)) scaleX(-1);
  /*  (index * 100)cqw / cols = px  */
  /*  (index * 100)cqh / rows = px  */
  
}



.test {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(56, auto);
  grid-template-rows: repeat(72, auto);
/*  4px(of original) per grid col/row  */
/*  4px padding left/right  */
/*  28px padding top  */
/*  top-left-most grid position = translate(calc(100cqw / 56),calc(700cqh / 72))  */
}





@media (max-aspect-ratio: 7/9) {
  body {
    overflow: hidden;
  }
  main {
    padding-top: calc(50vh - calc(128.5714vw / 2));
  }
  svg.map {
    height: calc(100% - calc(50vh - calc(128.5714vw / 2)));
  }
  .test {
    top: calc(50vh - calc(128.5714vw / 2));
    height: calc(100% - calc(50vh - calc(128.5714vw / 2)));
  }
}


